---
---
/* attributes to apply to post/page elements */

.article-post, .article-page {
    img.small {
        max-width: 50%;
        max-height: 50%;
        width: auto;
        height: auto;
    }

    .right {
        float: right;
    }

    .left {
        float: left;
    }
}